<form method="post">
    <table class="table table-bordered " style="text-align: center;">
        <thead><th>구매선택</th><th>상품</th><th>상품명</th><th>단가</th><th>담은날</th><th>수량</th></thead> 
        <!-- 넘겨 받은 cartLists 길이만큼 출력 -->
            <% for(i = 0; i < cartLists.length; i++) { %>
                <tr>
                    <td><input type="checkbox" name="is_checked" value="<%=cartLists[i].cart_id%>" classes="checkboxes" /></td>
                    <td><a href="/detail/<%=cartLists[i].mer_id%>" style="text-decoration: none;"><img src="<%=cartLists[i].image%>" style="width:100px; height:100px;"></a></td>
                    <td><%=cartLists[i].name%></td><td><%=cartLists[i].price%> 원</td><td><%=cartLists[i].date%></td>
                    <td><input type="number" name="qty" value="1" /></td>
                    <input type="hidden" name="loginid" value="<%=sntzedLoginId%>">
                    <input type="hidden" name="loginid" value="<%=cartLists[i].mer_id%>">
                    <input type="hidden" name="price" value="<%=cartLists[i].price%>">
                </tr>
            <% } %>
    </table>
    <!-- 장바구니에 물건이 담겨있을 때 -->
    <% if(cartLists.length !== 0) { %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-primary btn-sm" formaction="/purchase/purchase_process" type="submit">결제</button>
            <button class="btn btn-outline-primary btn-sm" formaction="/purchase/delete_process" type="submit">삭제</button>
            <a href="/"><button class="btn btn-outline-primary btn-sm" type="button">상품 목록 돌아가기</button></a>
        </div>
    <% } %>
    <!-- 자료가 없을 시 나오는 멘트 -->
    <% if(cartLists.length == 0) { %>
            <p>장바구니에 담은 상품이 없습니다. 상품을 담아보세요.</p>
    <% } %>
</form>