<table class="table table-bordered border-primary table-hover" style="text-align: center;">
  <thead class="table-primary ">
    <th>ID</th><th>PW</th><th>이름</th><th>주소</th><th>전화번호</th><th>생일</th><th>클래스</th><th>등급</th><th colspan="2" >메뉴</th>
  </thead> 
  <!-- 넘겨 받은 products 길이만큼 출력 -->
  <% for(i = 0; i < people.length; i++) { %>
    <tr>
      <td><%=people[i].loginid%></td><td><%=people[i].password%></td><td><%=people[i].name%></td>
      <td><%=people[i].address%></td><td><%=people[i].tel%></td><td><%=people[i].birth%></td>
      <!-- cls 컬럼 값에 따라 괄호 안에 내용을 추가해서 보여줌 -->
      <% var className = '';
         if(people[i].class == 'CST') { className = 'CST(고객)'; }
         if(people[i].class == 'CEO') { className = 'CEO(경영자)'; }
         if(people[i].class == 'MNG') { className = 'MNG(관리자)'; } %>
      <td><%=className%></td><td><%=people[i].grade%></td>
      <td><a href="/person/update/<%=people[i].loginid%>" style="text-decoration: none;">수정</a></td>
      <td><a href="/person/delete/<%=people[i].loginid%>" onclick='if(confirm("정말로 삭제하시겠습니까?")==false){return false}' style="text-decoration: none;">삭제</a></td>
    </tr>
  <% } %>
  
</table>
<!-- 자료가 없을 시 나오는 멘트 -->
<% if(people.length == 0) { %>
      <p>자료가 없으니 고객 추가 버튼으로 고객을 추가해 주십시오.</p>
<% } %>
<a href="/person/create"><button class="btn btn-outline-secondary btn-sm" type="submit">고객 추가</button></a>