<div class="container">	
	<h2>구매 내역 수정</h2>
	<form action="/purchaseupdate_process" method="post">
		<input type="hidden" name="purchase_id" value="<%=purchaseview[0].purchase_id%>">
		<div class="mb-3">
			<label class="form-label" for="id_customer">고객</label> 
			<select name="loginid" id="id_customer">
				<% for(i = 0; i < customers.length; i++) { 
					  var selected = '';
					  if(purchaseview[0].loginid === customers[i].loginid) { selected = 'selected'; } %>
					  <option value="<%=customers[i].loginid%>" <%=selected%>><%=customers[i].name%></option>
				<% } %>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label" for="id_product">상품</label> 
			<select name="mer_id" id="id_product">
				<% for(i = 0; i < products.length; i++) { 
					  var selected = '';
					  if(purchaseview[0].mer_id === products[i].mer_id) { selected = 'selected'; } %>
					  <option value="<%=products[i].mer_id%>" <%=selected%>><%=products[i].name%></option>
				<% } %>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label" for="id">날짜</label> 
			<input class="form-control" type="text" name="date" value="<%=purchaseview[0].date%>" style="width:300px;" disabled />
		</div>
		<div class="mb-3">
			<label class="form-label" for="id">가격</label> 
			<input class="form-control" type="text" name="price" value="<%=purchaseview[0].price%>" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="id">포인트</label> 
			<input class="form-control" type="text" name="point" value="<%=purchaseview[0].point%>" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="id">수량</label> 
			<input class="form-control" type="text" name="qty" value="<%=purchaseview[0].qty%>" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="id">총액</label> 
			<input class="form-control" type="text" name="total" value="<%=purchaseview[0].total%>" style="width:300px;" />
		</div>

		<div class="mb-3">
			<label class="form-label" for="id_payYN">지불여부</label> 
			<select name="payYN" id="id_payYN">
				<option value="Y" <%=purchaseview[0].payYN === 'Y' ? 'selected' : ''%>>YES</option>
				<option value="N" <%=purchaseview[0].payYN === 'N' ? 'selected' : ''%>>NO</option>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label" for="id_cancel">취소여부</label> 
			<select name="cancel" id="id_cancel">
				<option value="Y" <%=purchaseview[0].cancel === 'Y' ? 'selected' : ''%>>YES</option>
				<option value="N" <%=purchaseview[0].cancel === 'N' ? 'selected' : ''%>>NO</option>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label" for="id_refund">환불여부</label> 
			<select name="refund" id="id_refund">
				<option value="Y" <%=purchaseview[0].refund === 'Y' ? 'selected' : ''%>>YES</option>
				<option value="N" <%=purchaseview[0].refund === 'N' ? 'selected' : ''%>>NO</option>
			</select>
		</div>

		<button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
		<a href="/purchase/view"><button class="btn btn-outline-primary btn-sm" type="button">구매 목록 돌아가기</button></a> 
	</form>
</div>